---
layout: default
---

{{ content }}

<div class="container">
  <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
  
  <!-- Education Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Education</h4>
    </div>
    <div class="col-md-10">
      {% for section in site.data.cv.education %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>
          <em>{{ section.institution }}</em>
          {% if section.location %} - {{ section.location }}{% endif %}
          | {{ section.date }}
        </p>
        {% if section.description %}
          <p>{{ section.description }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <!-- Professional Work Experience Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Professional Work Experience</h4>
    </div>
    <div class="col-md-10">
      {% for section in site.data.cv.professional_work_experience %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>
          <em>{{ section.company }}</em>
          {% if section.location %} - {{ section.location }}{% endif %}
          | {{ section.date }}
        </p>
        {% if section.description %}
          <p>{{ section.description }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <!-- Research Experience Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Research Experience</h4>
    </div>
    <div class="col-md-10">
      {% for section in site.data.cv.research %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>
          <em>{{ section.institution }}</em>
          {% if section.location %} - {{ section.location }}{% endif %}
          | {{ section.date }}
        </p>
        {% if section.description %}
          <p>{{ section.description }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <!-- Teaching Experience Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Teaching Experience</h4>
    </div>
    <div class="col-md-10">
      {% for section in site.data.cv.teaching %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>
          <em>{{ section.institution }}</em>
          {% if section.location %} - {{ section.location }}{% endif %}
          | {{ section.date }}
        </p>
        {% if section.description %}
          <p>{{ section.description }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- Publications Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Publications</h4>
    </div>
    <div class="col-md-10">
      {% for publication in site.data.cv.publications %}
        <p>{{ publication.name }}</p>
      {% endfor %}
    </div>
  </div>
  
  <!-- Presentations Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Presentations</h4>
    </div>
    <div class="col-md-10">
      {% for presentation in site.data.cv.presentations %}
        <p class="fw-bold">{{ presentation.name }}</p>
        {% if presentation.date %}
          <p>{{ presentation.date }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- Awards and Honors Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Awards and Honors</h4>
    </div>
    <div class="col-md-10">
      {% for award in site.data.cv.awards %}
        <p>{{ award.name }}</p>
      {% endfor %}
    </div>
  </div>
  
  <!-- Affiliated Organizations Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Affiliated Organizations</h4>
    </div>
    <div class="col-md-10">
      {% for affiliation in site.data.cv.affiliations %}
        <p>{{ affiliation.name }}</p>
      {% endfor %}
    </div>
  </div>

  <!-- Skills Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Skills</h4>
    </div>
    <div class="col-md-10">
      {% for skill in site.data.cv.skills %}
        <p>{{ skill.name }}</p>
      {% endfor %}
    </div>
  </div>
</div>
