---
layout: default
---

{{ content }}

<div class="container">
  <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
  
  <!-- Education Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Education</h4>
    </div>
    <div class="col-md-10">
      {% for section in site.data.cv.education %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>{{ section.description }}</p>
      {% endfor %}
    </div>
  </div>
  
  <!-- Professional Work Experience Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Professional Work Experience</h4>
    </div>
    <div class="col-md-10">
      {% for section in site.data.cv.professional-work-experience %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>{{ section.description }}</p>
      {% endfor %}
    </div>
  </div>
  
  <!-- Research Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Research</h4>
    </div>
    <div class="col-md-10">
      {% for section in site.data.cv.research %}
        <p class="fw-bold">{{ section.title }}</p>
        <p>{{ section.description }}</p>
      {% endfor %}
    </div>
  </div>
  
  <!-- Publications Section -->
  <div class="row g-5 mb-5">
    <div class="col-md-2">
      <h4>Publications</h4>
    </div>
    <div class="col-md-10">
      {% for publication in site.data.cv.publications.index %}
        <p>{{ publication.name }}</p>
      {% endfor %}
    </div>
  </div>
  
  <!-- Additional sections like Presentations, TA/Mentorship, Awards and Honors, Affiliated Organizations, and Computer Skills can be added following the same pattern -->
</div>
