---
layout: default
---

{{ content }}

<div class="container">
  <h2 class="fw-bold border-bottom pb-3 mb-5">Writings</h2>

  <!-- Category Tabs -->
  <div class="tabs">
    <button class="tab all" onclick="filterPosts('all')">All</button>
    <button class="tab technical" onclick="filterPosts('Technical Stuff')">Technical Stuff</button>
    <button class="tab ethical" onclick="filterPosts('Ethical Stuff')">Ethical Stuff</button>
    <button class="tab random" onclick="filterPosts('Random Thoughts')">Random Thoughts</button>
  </div>

  <!-- Writings Summaries -->
  <div class="posts">
    {% for post in site.writings %}
      <div class="post-card" data-category="{{ post.category }}">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
        <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
        <p class="post-icon" style="color: {% if post.category == 'Technical Stuff' %}#dcfccc{% elsif post.category == 'Ethical Stuff' %}#f0ebf5{% else %}#ced7ed{% endif %};">^_^</p>
      </div>
    {% endfor %}
  </div>
</div>

<!-- JavaScript for Tab Filtering -->
<script>
  function filterPosts(category) {
    var posts = document.querySelectorAll('.post-card');
    posts.forEach(function(post) {
      post.style.display = (category === 'all' || post.getAttribute('data-category') === category) ? 'block' : 'none';
    });
  }
</script>
